*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    background-color: #f97316;
}
.home-div{
   display: flex;
   justify-content: center;
   align-items: center;
   
}